.chat-card {
    margin-bottom: 10px;
}

.chat-card-right {
    margin-left: auto;
    background-color: #e0f2f1;
}

.chat-card-left {
    margin-right: auto;
    background-color: #f5f5f5;
}

.message-input {
    margin-top: 10px;
    padding: 5px;
}